# Auto detect text files and perform LF normalization
* text eol=lf
*.gitattributes diff=asplaintext
*.gitignore diff=asplaintext

*.cs diff=csharp
*.cs text
*.sln diff=asplaintext
*.sln text eol=crlf
*.csproj diff=asplaintext
*.csproj text eol=crlf
*.cfg text eol=lf
*.bat text eol=crlf
*.md text eol=lf
*.fnt text eol=lf
*.shader text eol=lf
*.exe binary
*.pak binary
*.png binary
*.ogg binary
*.dll binary
*.wav binary
*.dat binary
*.bin binary
